@import "tailwindcss";

@theme {
  /* --- КОЛЬОРИ --- */
  --color-background: #f0ead8;
  --color-primary: #282829;
  --color-secondary: #041e41;

  /* --- ШРИФТИ --- */
  /* ТУТ ЗМІНИ: Ми посилаємось на нові змінні з layout.tsx */
  
  /* Magneta для заголовків */
  --font-heading: var(--font-magneta), "Times New Roman", serif; 
  
  /* Minion для основного тексту */
  --font-body: var(--font-minion), "Times New Roman", serif;
}

@layer base {
  body {
    font-family: var(--font-body); 
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}